
body{
    margin: 0;
    background-image:url(./Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
header{
    top:20%;
    left:15%;
    Height: 20%;
    padding-bottom :15px;
    position: flex;
    height:90%;
    background: white;
    width: auto;
}

#maha{
    vertical-align: middle;
    max-width:100%;
    padding-bottom :5px;
    height:13%;
    width:15%;
}

label{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    text-align: left;
    font-size:18px;
    left:80%;
    position: absolute;
    padding: 5px 10px;
    border-radius: 15px;
    top:40px;
}

#link{
    color:rgb(31, 57, 202);
}

#link:hover{
    color: rgb(58, 58, 177);
}

#herry{ 
    
    border-radius:30px;
    box-sizing: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(91, 105, 135, 0.2);
    padding-top: 18px;
    padding-bottom: 24px;
    height:540px;
    margin-block-start: 5em;
    margin-block-end: 9em;
    text-align: center;
    background: #f7f7f7;
    margin-inline:30%;
}

h3{
  
    margin-top: auto;
    font:bolder;
    color: rgb(0, 0, 0);
    all:unset;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
    min-width: 600px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    letter-spacing:-.5px;
    line-height: 48px;
    
}

p{
    margin-top: 15px;
    line-height: 49px;
    margin-inline:15px;
    color: gray;
    font-size: 25px;
    font-family:sans-serif;
    text-align:center;
    font-style: normal;
}

#pics{
    border: 0;
    height:30px;
    max-width: 100%;
    vertical-align: middle;
    padding-bottom:5px;

}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(8, 1, 1);
}

a:hover {
    color: rgb(215, 220, 224);
}

a:active {
    color: rgb(135, 148, 172);
}

.Google{
    
    background: none;
    text-align: center;
    top:9%;
    left:9%;
    Height:35%;
    padding-bottom :18px;
    position: flex;
    size: 60px;
}

button{
    
    color: black;
    font-size: 27px;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid rgb(180, 178, 178);
    transition: .4s;
    cursor: pointer;
    padding-top:10px;
    height:20px;
    max-width: 100%;
    vertical-align: middle;
    padding-bottom:5px;
    border-radius:10px;
    text-align: center;
    width: 60%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button:hover {
    background-color: rgb(26, 27, 102);
    color: white;
}

.End{
    padding-bottom:80px;
    padding-top:1px;
    top:0;
    bottom:0;
    line-height: 50px;
    margin-inline:15px;
    color: gray;
    font-size: 28px;
    text-align:center;
    font-style: normal;
    
}