
body{
    margin: 0;
    font-size:large;
    background-color: #f7f7f7;
    background-image:url(./Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header{
    top:20%;
    left:15%;
    Height: 20%;
    padding-bottom :15px;
    position: flex;
    height:90%;
    background: white;
    width: auto;
}

#maha{
    vertical-align: middle;
    max-width:100%;
    padding-bottom :5px;
    height:13%;
    width:15%;
}


#link{
    color:rgb(31, 57, 202);
}

#link:hover{
    color: rgb(58, 58, 177);
}

form {
    width: 100%;
}

#herry{
    border-radius:30px;
    box-sizing: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(91, 105, 135, 0.2);
    padding-top: 24px;
    padding-bottom: 24px;
    width:600px;
    height:600px;
    margin-block-start: 4em;
    margin-block-end: 7em;
    text-align: center;
    background:white;
    margin-inline:30%;
}

h3{
    font-weight: bolder;
    margin-top: auto;
    font:bolder;
    color: rgb(0, 0, 0);
    all:unset;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
    min-width:500px;
    font-style: normal;
    
    text-align: center;
    font-size: 42px;
    letter-spacing:-.5px;
    line-height: 45px;
}

p{
    line-height: 49px;
    margin-inline:15px;
    color: gray;
    font-size: 28px;
    text-align:center;
    font-style: normal;
}

form {
    width: 100%;
}

.form-input {
    padding-bottom:3px;
    padding-top:3px;
    border: 1px solid rgb(180, 178, 178);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:130px;
    margin-inline-end: 7px;
    text-align:left;
    display: block;
    margin-inline:10%;
    border-radius: 6px;
    font-size:25px;
    height: 50px;
    width: 470px;
    margin-bottom: 25px;
    margin-top: 35px;
    font:bolder;
    font-family: 'Poppins', sans-serif;
}

.input-box .main{
    text-align: left;
}
#left-label{
    vertical-align: middle;
    max-width:100%;
    padding-bottom :5px;
    margin-right:5px;
    margin-left:800px;
    color: rgb(128, 128, 131);
    font-size:18px;
}
label{
    padding-bottom:auto;
    padding-top:auto;
    margin-top:20px;
    margin-bottom:5px;
    margin-left: 24px;
    margin-inline-start:32px;
    margin-inline-end:400px;
    color: rgb(58, 58, 177);
    font-size:23px;
}
 
